<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="page-header">
            <h1>Dashboard</h1>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td>Total Distance</td>
                <td class="narrow text-right">
                    <span ng-hide="spinner">
                        {{ data.total_distance / 1000.00|number:2 }} kilometers
                    </span>
                    <span ng-show="spinner">
                        <i class="fa fa-cog fa-spin"></i>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Total Time</td>
                <td class="narrow text-right">
                    <span ng-hide="spinner">
                        {{ data.total_time / (60.00 * 60.00)|number:2 }} hours
                    </span>
                    <span ng-show="spinner">
                        <i class="fa fa-cog fa-spin"></i>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Average Speed</td>
                <td class="narrow text-right">
                    <span ng-hide="spinner">
                        {{ data.average_speed * 3.6|number:2 }} kilometers/hour
                    </span>
                    <span ng-show="spinner">
                        <i class="fa fa-cog fa-spin"></i>
                    </span>
                </td>
            </tr>
        </table>
        <p>
            In order to limit the values to a seven day period, click on a date
            in the calendar shown below (the end date).
        </p>
        <p id="datetimepicker"><input></p>
    </div>
</div>

